.section-title {
  color: white;
  margin-bottom: 2%;
}

.background {
  background-color: #212121
}

.section {
  margin-bottom: 1%;
}

.table-styles {
  background-color: white;
}

.open-button {
  background-color: #3273dc;
  color: white;
}

.open-button:hover {
  color: white;
}

.add-button {
  background-color: #3abb67;
  color: white;
}

.add-button:hover {
  color: white;
}

.edit-button {
  background-color: #ffd83d;
}

.active-button {
  background-color: #3abb67;
  color: white;
}

.inactive-button {
  background-color: #f03a5f;
  color: white;
}

.cancel-button {
  background-color: #f03a5f;
  color: white;
}

.cancel-button:hover {
  color: white;
}

.show-button {
  background-color: #3298dc;
  color: white;
}

.show-button:hover {
  color: white;
}

.buttons {
  text-align: end;
}

.form-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding: 15px 5px;
  margin: 30px 0px;
}

.text {
    margin:20px 0px;
}

.black-text {
  color: black;
}

#sale-data {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.name {
  margin-left: 2%;
}

.total {
  font-weight: bold;
  color: #212121;
}
